---
import { Footer } from '@/partials/Footer';
import { Navbar } from '@/partials/nav/Navbar';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='author' content={AppConfig.author} />

    <link rel='alternate' type='application/rss+xml' href='/rss.xml' />
  </head>
  <body class='text-black'>
      <Navbar client:load/>
      <slot></slot>
      <div class = 'md:fixed md:bottom-0 md:w-full'><Footer /></div>
  </body>
</html>
